{% extends "layout.html" %} {% block body %}
<h1>Sign up</h1>
<form action="/register" method="post">
  <input
    autocomplete="off"
    autofocus
    name="name"
    type="text"
    placeholder="Name"
  />
  <select name="course" id="">
    <option value="" selected disabled="disabled">choose your dormain</option>
    <option value="med">Medicine</option>
    <option value="tech">Tech</option>
    <option value="science">Science</option>
    <option value="ed">education</option>
  </select>
  <button type="submit">register</button>
</form>
{% endblock %}
